*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cards1 {
    width: 100%;
    /*height: auto;*/
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards1 img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 100%;
}

.card1 {
    margin: 20px 0;
    width: 30%;
    height: 250px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 4px 0 rgba(52, 73, 94, 0.849);
    position: relative;
}

.contenedor h5 {
    font-size: 28px;
    text-align: start;
    margin-left: 20px;
    margin-top: 60px;
}

.card1:hover {
    background-color: black;
    transition: 0.5s;
}

.card1:hover .vision {
    opacity: 0;
    transition: 0.2s;
}

.cards1 .card1 .content {
    position: absolute;
    bottom: 5px;
    left: 55%;
    width: 120px;
    height: 30px;
    background: #1e48c0;
    transition: 0.5s;
    overflow: hidden;
    border-radius: 3px;
    /*border: 1px solid black;*/

    padding: 5px;
    box-sizing: border-box;
}

.card1:hover .content {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}

.cards1 .card1 .content h3 {
    color: #fff;
    margin: 0;
    padding: 0%;
    font-size: 12px;
}

.cards1 .card1 .content p {
    color: #fff;
    margin: 60px 0 0;
    padding: 0;
    opacity: 0;
    line-height: 1.2em;
    transition: 0.5s;
    text-align: center;
}

.card1:hover .content h3 {
    display: none;
}

.card1:hover .content p {
    opacity: 1;
    transition-delay: 0.5s;
}


.card2 {
    margin: 20px 0;
    width: 30%;
    height: 250px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 4px 0 rgba(52, 73, 94, 0.849);
    position: relative;
}

.card2:hover {
    background-color: black;
    transition: 0.5s;
}

.card2:hover .vision {
    opacity: 0;
    transition: 0.2s;
}

.cards1 .card2 .content {
    position: absolute;
    bottom: 5px;
    left: 55%;
    width: 120px;
    height: 30px;
    background: #1e48c0;
    transition: 0.5s;
    overflow: hidden;
    border-radius: 3px;
    /*border: 1px solid black;*/

    padding: 5px;
    box-sizing: border-box;
}

.card2:hover .content {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}

.cards1 .card2 .content h3 {
    color: #fff;
    margin: 0;
    padding: 0%;
    font-size: 12px;
}

.cards1 .card2 .content p {
    color: #fff;
    margin: 60px 0 0;
    padding: 0;
    opacity: 0;
    line-height: 1.2em;
    transition: 0.5s;
    text-align: center;
}

.card2:hover .content h3 {
    display: none;
}

.card2:hover .content p {
    opacity: 1;
    transition-delay: 0.5s;
}



.card3 {
    margin: 20px 0;
    width: 30%;
    height: 250px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 4px 0 rgba(52, 73, 94, 0.849);
    position: relative;
}

.card3:hover {
    background-color: black;
    transition: 0.5s;
}

.card3:hover .vision {
    opacity: 0;
    transition: 0.2s;
}

.cards1 .card3 .content {
    position: absolute;
    bottom: 5px;
    left: 55%;
    width: 120px;
    height: 30px;
    background: #1e48c0;
    transition: 0.5s;
    overflow: hidden;
    border-radius: 3px;
    /*border: 1px solid black;*/

    padding: 5px;
    box-sizing: border-box;
}

.card3:hover .content {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}

.cards1 .card3 .content h3 {
    color: #fff;
    margin: 0;
    padding: 0%;
    font-size: 12px;
}

.cards1 .card3 .content ul {
    color: #fff;
    margin: 60px 0 0;
    padding: 0;
    opacity: 0;
    line-height: 1.2em;
    transition: 0.5s;
    text-align: center;
}

.card3:hover .content h3 {
    display: none;
}

.card3:hover .content ul {
    opacity: 1;
    transition-delay: 0.5s;
}

/***********Icono Producto**********/

.card_productos {
    margin: 20px 0;
    width: 30%;
    height: 440px;
    text-align: center;
    /*padding: 20px;*/
    box-shadow: 0px 0px 14px 0 rgba(52, 73, 94, 0.849);
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.contenedor .cards .card_productos .np {
    width: 98%;
    border-radius: 0;
}

.contenedor .cards .card_productos p  {
    margin-top: 30px;
}






@media screen and (max-width: 610px) {

    .card1, .card2, .card3 {
        width: 90%;
    }
}